src/main/mule/fast-go-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="fast-go-sapi-main">
        <http:listener config-ref="fast-go-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fast-go-sapi-config" />
    </flow>
    <flow name="get:\routes\(transportType)\(transportCompany):fast-go-sapi-config">
        <flow-ref doc:name="common flows" doc:id="72ee7f76-6e1b-47ae-8c02-c90b769412f2" name="common-flowsSub_Flow"/>
		<flow-ref doc:name="get-routes-impl-flowFlow" doc:id="8809e962-891f-4cc0-b62c-bc5eb03699a9" name="get-routes-impl-flowFlow"/>
        <ee:transform doc:name="final response mapping">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\schedules\(transportType)\(transportCompany):fast-go-sapi-config">
        <flow-ref doc:name="common flows" doc:id="c3fada99-46e4-4dd0-8bbf-442ef09dcc63" name="common-flowsSub_Flow" />
        <flow-ref doc:name="get-schedules-impl-flowFlow" doc:id="357b60b4-6313-4210-8a1a-a7fa7b04fc83" name="get-schedules-impl-flowFlow"/>
		<ee:transform doc:name="final response mapping">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
